<!doctype html>
<html lang="en">
	<head>

		
		<!-- Title -->
		<title>account</title>

		<!-- Favicon -->
		<link rel="icon" href="favicon.ico" type="image/x-icon" />

		<!-- Include CSS -->
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../static/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="../static/owl-carousel/owl.theme.css">
		<link rel="stylesheet" type="text/css" href="../static/owl-carousel/owl.transitions.css">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">

	</head>

	<body>
    {% if user.is_authenticated %}
		<!-- Header container -->
        <div class="header-bg">
			<!-- Container -->
			<div class="container">

				<div class="row flex">
					<!-- Logo column -->
					<div class="col-xs-12 col-sm-5 col-md-4 flex">
						<a href="index.html">
							<!-- Logo -->
							<img src="../static/images/logo.png" class="logo img-responsive" alt="PhotoMarket">
						</a>
					</div>

					<!-- Menu column -->
					<div class="col-xs-12 col-sm-7 col-md-8 flex flex-center">
						<!-- Menu -->
						<ul class="nav nav-pills">
							<li role="presentation"><a href="logout.html">Log out</a></li>
							<li role="presentation"><a href="account.html">Your Account</a></li>
						</ul>

					</div>
				</div>
			</div>


		</div>
        <div class="inner-content">
			<div class="container">

				<!-- Breadcrumb -->
				<div class="row">
					<div class="col-sm-12">
						<ol class="breadcrumb">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li class="active">
								{{ user.username }}'s ACCOUNT
							</li>
						</ol>
                        <div class="col-sm-12">
                            <h4><p>Dear {{ user.username }}，Welcome to photo location!</p></h4>
                        </div>
					</div>

				</div>


		<!-- Page container -->
        <div class="inner-content-home">
            <div class="container">
                <div class="row margin-bottom-20">
					<div class="col-md-3 col-sm-5">
						        <div class="img-profile text-center">
							        <img src="../static/images/info.jpg" class="img-responsive" width="30%" height="30%">
                                    <div class="profile-name">
                                        {{ user.username }}
                                    </div>
                                </div>


                                <h4 class="title">Personal Information</h4>
                                <div class="line-dec"></div>

                                <ul class="list-group">
							            <li ><b>User Name:</b>{{ user.username }}</li>
							            <li ><a href="#"><b>Pictures uploaded</b> <span class="badge">{{ post_list.count }}</span></a></li>
                                </ul>


                                <div class="col-xs-12">
						            <a href="/account/uploadImg.html">
							            <img src="../static/images/upload.png" class="logo img-responsive" alt="PhotoMarket">
						            </a>
					            </div>
                    </div>

                    <div class="col-md-6 col-sm-7">

                        <h4 class="title">Your photos</h4>
                        <div class="line-dec"></div>
                        <div class="grid">
                            <table class="table picture-desc">
                        <tbody>
                            {% for i in post_list %}

                                <div class="media photo-list">
							<!-- photo item image -->
							        <div class="media-left">
								        <a href="#">
									    <img src="{{ MEDIA_URL }}{{ i.img_url }}" class="media-object photo-list-image" alt="List photo">
								        </a>
							        </div>
							<!-- photo item body -->
							    <div class="media-body">
								    <div class="row">
									<!-- Description column -->
									    <div class="col-sm-8">
										    <h4 class="media-heading photo-list-title">
											{{ forloop.counter }} <span class="badge"></span>
										    </h4>
                                            <p>
                                            Keyword：
                                            {{ i.name }}
                                            </p>
                                            <p>
                                            Location:
                                            {{ i.address }}
                                            </p>
                                            <p>
                                            Author:
                                            {{ i.author }}
                                            </p>
                                            <p>
                                            Category:
                                            {{ i.categories }}
                                            </p>
									    </div>

									<!-- Price and actions -->
									    <div class="col-sm-4">

										    <a href="{{ MEDIAS_URL }}{{ i.img_url.url }}" class="btn btn-block btn-primary">View</a>
									    </div>
								    </div>
                                            <div>
                                                <tr>

                                                </tr>
                                            </div>

                                        {% endfor %}
                            </div>
                            </div>
                        </tbody>
                    </table>

                        </div>
		            </div>

    {% else %}
            <a class="button-success pure-button" href="/regist/">regist</a>
            <a class="button-success pure-button" href="/login/">login</a>
    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

		<!-- Include Scripts -->
		<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../static/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>

		<script type="text/javascript">

			// Masonry grid
			var $grid = $('.grid').masonry({
				itemSelector: '.grid-item',
				columnWidth: '.grid-sizer',
				percentPosition: true,
				transitionDuration: '0.2s',
				stagger: 30,
				resize: true,
			});

		</script>

        </div>





	</body>
</html>

